<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Password Generator Web Site by Kcorrai</title>
    <link rel="stylesheet" href="../static/css/style.css" />
    <meta name="author" content="kcorrai" />
    <meta name="description" content="This is my first project of using Jinja2, Flask on Python" />
    <link rel="icon" href="../static/img/kcorraiprofile.jpg" type="images/x-icon" />
  </head>
  <body>
    <header>
      <img class="logo" src="../static/img/kcorraiprofile.jpg" alt="kcorrai logo" title="kcorrai logo" />
      <nav class="navbg">
        <ul class="nav__links">
          <li><a href="/">Come Back To Home</a></li>
          <li><a href="#">About</a></li>
        </ul>
      </nav>
      <a class="cta" href="#"><button>Contact Me</button></a>
    </header>
    <main>
      <button class="pwd__gen">Generate Password</button>
    </main>
  </body>
</html>
